.stepper-form-container {
	position: relative;
	width: 800px;
}
.form__container {
	flex-direction: column;
	/* width: 25rem; */
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}
.form {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	text-align: start;
}
.form__heading {
	font-size: 1.75rem;
	margin-bottom: 1rem;
}
.form__helperText {
	margin: 0 0 2.8rem 0;
}
.input__label {
	display: block;
	margin: 0 0 0.4rem 0;
	font-weight: 500;
}
.input__field {
	display: block;
	width: 100%;
	margin: 0 0 1.2rem 0;
	padding: 0.8rem 1rem;
	border: 1px solid var(--base-gray-100);
	border-radius: 0.3rem;
	font: inherit;
}
.input__container {
	position: relative;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	width: 100%;
	margin: 0 0 1.2rem 0;

	/* border: 1px solid var(--base-gray-100);
	border-radius: 0.3rem; */
}
.input__container > .input__field {
	/* border: none;
	outline: none; */
	margin: 0;
}
.input__overlap {
	padding: 0.8rem 1rem;
	border: 1px solid var(--base-gray-100);
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	height: 100%;
	background-color: var(--base-gray-50);
	border-radius: 0.3rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input__field--padded {
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	/* text-indent: 5rem; */
	/* padding-left: 5rem; */
}
.form__button {
	width: 100%;
	padding: 0.8rem 1rem;
	font: inherit;
	font-weight: 500;
	color: var(--base-light);
	background-color: var(--brand-500);
	border: none;
	border-radius: 0.3rem;
}
.form__container-enter {
	position: absolute;
	opacity: 0;
	transform: var(--slide-in);
}
.form__container-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 500ms, transform 500ms;
}
.form__container-exit {
	opacity: 1;
}
.form__container-exit-active {
	position: absolute;
	opacity: 0;
	transform: var(--slide-out);
	transition: opacity 500ms, transform 500ms;
}

/*
forward -> enter right -> exit left
backward -> enter left -> exit right
*/
