.stepper-form-container {
	position: relative;
}
.form__container {
	flex-direction: column;
	width: 25rem;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}
.form {
	width: 90%;
	margin: 0 auto;
	text-align: start;
}
.form__heading {
	font-size: 1.75rem;
	margin-bottom: 1rem;
}
.form__helperText {
	margin: 0 0 2.8rem 0;
}
.input__label {
	display: block;
	margin: 0 0 0.4rem 0;
	font-weight: 500;
}
.input__field {
	display: block;
	width: 100%;
	margin: 0 0 1.2rem 0;
	padding: 0.8rem 1rem;
	border: 1px solid var(--base-gray-100);
	border-radius: 0.3rem;
	font: inherit;
}
.form__button {
	width: 100%;
	padding: 0.8rem 1rem;
	font: inherit;
	font-weight: 500;
	color: var(--base-light);
	background-color: var(--brand-500);
	border: none;
	border-radius: 0.3rem;
}
.form__container-enter {
	position: absolute;
	opacity: 0;
	transform: var(--slide-in);
}
.form__container-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 500ms, transform 500ms;
}
.form__container-exit {
	opacity: 1;
}
.form__container-exit-active {
	position: absolute;
	opacity: 0;
	transform: var(--slide-out);
	transition: opacity 500ms, transform 500ms;
}

/*
forward -> enter right -> exit left
backward -> enter left -> exit right
*/
